.centered {
  text-align: center;
}

.img-sponsor {
    display:block;
    max-width:100%;
}

html{
    overflow-y: scroll;
}

.navbar-brand {
  padding: 5px;
}

table {
  text-align: left;
}

.video-box {
  left: auto;
  right: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.maincontent {
  margin-bottom: 40px;
}

#footer {
  border-top: 4px;
  border-color: #e6e6e6;
  margin-top: 80px;
  color: #888888;
}

#map { 
  height: 420px;
  margin: 40px;
}

.panel-sponsor {
  padding: 0;
}

label {
    font-weight: bold;
}

.has-error .radio, .has-error .checkbox, .has-success .help-block, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
color: #555555;
}